@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .title-base {
    font-family: "SuisseIntl", "system-ui";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.625rem;
  }

  .title-serif {
    font-family: "Messina", "ui-serif";
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
  .subtitle-lg {
    font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .subtitle-base {
    font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  .subtitle-xs {
    font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    text-transform: uppercase;
  }

  .body-base-light {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .body-base-regular {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .body-base-medium {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .body-base-semibold {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .body-sm {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .body-sm-regular {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .body-sm-medium {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .body-sm-semibold {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }

  .body-md-regular {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .body-md-medium {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .body-md-semibold {
    font-family: "Inter var", "ui-sans-serif", "system-ui";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .catalog-onboard-form-title {
    font-size: 48px;
    font-family: "SuisseIntlCond", "ui-sans-serif", "system-ui";
    font-weight: 700;
    line-height: 2.875rem;
  }

  @media screen and (min-width: 1024px) {
    .title-base {
      font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.625rem;
    }

    .title-serif {
      font-family: "Messina", "ui-serif";
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.625rem;
    }

    .subtitle-lg {
      font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
      font-weight: 400;
      font-size: 1.375rem;
      line-height: 1.875rem;
    }

    .subtitle-base {
      font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.625rem;
    }

    .subtitle-xs {
      font-family: "SuisseIntl", "ui-sans-serif", "system-ui";
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1rem;
      text-transform: uppercase;
    }

    .body-base-light {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .body-base-regular {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .body-base-medium {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .body-base-semibold {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .body-sm {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    .body-sm-regular {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    .body-sm-medium {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    .body-sm-semibold {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }

    .body-md-regular {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.375rem;
    }

    .body-md-medium {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.375rem;
    }
    .body-md-semibold {
      font-family: "Inter var", "ui-sans-serif", "system-ui";
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }
}

.text-multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hovered {
  transform: rotateY(180deg);
  transition: transform 0.2s ease;
}
